*{
	margin: 0;
	padding: 0;
}

main{
	width: 100vw;
	height: 100vh;
	background: url('../footage/firewatch.jpg');
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: top center;
}

.appbar{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,-50%);
	padding: 0 15px;
	background: rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.7);
}
.apps{
	margin-top: -30px;
}
.app{
	padding: 7px 3px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.app:hover{
	transform: scale(1.2);
	padding: 7px 7px;
}

/*Window*/
.window{
	position: absolute;
	top: 20%;
	left: 15%;
	background: rgb(20,10,8);
	box-shadow: 0 0 50px rgba(0,0,0,0.35);
	border: 1px solid rgb(240,100,50);;
}
.window .container{
	padding: 20px;
}
.window .header{
	display: block;
	background: rgba(255,255,255,0.1);
}
.window .button{
	display: inline-block;
	padding: 7px 7px;
	margin: 7px 0 5px 7px;
	border-radius: 50px;
	font-size: 0.6em;
}
#close{
	background: rgb(230,10,10);
}
#max{
	background: rgb(250,100,10);
}
#min{
	background: rgb(10,200,10);
}
h1{
	color: rgba(255,255,255,0.4);
}
p{
	color: rgba(255,255,255,0.2);	
}
.window .content{
	margin-top: 20px;
	background: rgb(5,2,1);
	height: 210px;
	overflow-y: auto;
}
.window .content ul{
	list-style: none;
}
.window .content ul li{
	position: relative;
	padding: 10px 20px;
	color: rgba(255,255,255,0.7);
	background: rgba(255,255,255,0.1);
	cursor: pointer;
}
.window .content .seta{
	display: inline-block;
	padding-right: 15px;
}
.window .content ul li div span{
	transform: rotate(0deg);
	display: inline-block;
	transition: all 0.1s ease-in-out;
}
/*.window .content .name:before{
	content: '';
	width: 8px;
	height: 8px;
	z-index: 2;
	position: absolute;
	top: 14px;
	left: 13px;
	border-left: 2px solid rgb(5,2,1);
	border-bottom: 2px solid rgb(5,2,1);
	transform: rotate(-45deg);
}*/
.window .content ul ul{
	margin-left: 40px;
}
.window .content ul ul li{
	color: rgba(255,255,255,0.5);
	background: none;
}
.window .content ul ul li:before{
	content: '';
	display: none;
}
.inner-list{
	display: none;
}

.content::-webkit-scrollbar-thumb{
	background-color: red;
}

/*border-bottom: 2px solid rgb(240,100,50);*/